<!doctype html>
<html lang="en">
<% include ../includes/head.ejs %>
<body>
<% include ../includes/header.ejs %>
<section class="container custom-content">
    <section class="section is-small">
        <div class="has-text-centered">
            <ul>
                <li>Obtenir des informations de La Direction générale des Finances publiques (DGFIP)</li>
            </ul>
            <br>
            <% if (!locals.dgfipData) { %>
                <div class="has-text-centered"><a class="button is-link" href="/getData">Récupérer mes informations DGFIP</a></div>
            <% }%>
        </div>
    </section>
    <section class="section is-small">
        <div class="columns">
            <div class="column is-half">
            <% if (locals.dgfipData) { %>
                <table class="table">
                    <thead>
                    <tr class="has-text-grey-dark">
                        <th>Informations DGFIP</th>
                        <th>Valeurs</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="has-text-grey-dark">
                        <th>Revenu Fiscal de Référence (RFR)</th>
                        <td><%= dgfipData.revenuFiscalDeReference %></td>
                    </tr>
                    <tr class="has-text-grey-dark">
                        <th>Nombre de parts</th>
                        <td><%= dgfipData.nombreDeParts %></td>
                    </tr>
                    <tr class="has-text-grey-dark">
                        <th>Adresse fiscale de taxation</th>
                        <td><%= dgfipData.adresseFiscaleDeTaxation %></td>
                    </tr>
                    </tbody>
                </table>
            <% } %>
            </div>
            <div class="column is-half">
                <pre>
        <%- dgfipDataRaw %>
                </pre>
            </div>
        </div>
    </section>
</section>
<% include ../includes/footer.ejs %>
</body>
</html>
