<!doctype html>
<html lang="en">
<% include ../includes/head.ejs %>
<body>
<% include ../includes/header.ejs %>
<section class="section is-medium">
    <div class="container has-text-centered">
         <!--<h1 class="title">Récupérer vos données via FranceConnect</h1>

        <p>Pour récupérer vos données via <strong>FranceConnect</strong> cliquez sur le bouton ci-dessous</p>
        &lt;!&ndash; FC btn &ndash;&gt;-->
        <a href="/login">
            <img src="img/FCboutons-10.png" alt="">
        </a>
    </div>
</section>
<% include ../includes/footer.ejs %>
</body>
</html>
