<!doctype html>
<html lang="en">
<% include ../includes/head.ejs %>
<body>
<% include ../includes/header.ejs %>
<section class="section is-medium">
    <div class="container has-text-centered">
        <div class="columns">
            <div class="column is-half">
                <!-- FC btn -->
                <a href="/login">
                    <img src="img/FCboutons-10.png" alt="">
                </a>
            </div>
            <div class="column is-half">
                <a class="button is-link is-medium" href="/getData">Récupérer mes informations DGFIP via FranceConnect</a>
            </div>
        </div>
    </div>
</section>
<% include ../includes/footer.ejs %>
</body>
</html>
