<!doctype html>
<html lang="en">
<% include ../includes/head.ejs %>
<body>
<% include ../includes/header.ejs %>
<section class="section is-medium">
    <div class="container has-text-centered">
        <p class="subtitle is-4">
            Choisissez entre un usage pour les
            <a href="https://partenaires.franceconnect.gouv.fr/fcp/fournisseur-service" title="Documentation fournisseur de service particulier">particuliers</a>
            ou pour les
            <a href="https://partenaires.franceconnect.gouv.fr/fca/fournisseur-service" title="Documentation Fournisseur de service agent">agents</a>.
        </p>
        <div class="column">
            <div class="select is-rounded">
                <form action="/" method="post" id="usageForm" name="usageForm">
                    <select name="usage">
                        <option>Choisissez un usage</option>
                        <option value="particuliers">Particuliers</option>
                        <option value="agents">Agents</option>
                    </select>
                        <br>
                        <button type="submit" class="button is-link">Valider</button>
                </form>
            </div>
        </div>
    </div>
</section>
<% include ../includes/footer.ejs %>
</body>
</html>
