<!doctype html>
<html lang="en">
<% include ../includes/head.ejs %>
<body>
<% include ../includes/header.ejs %>
<section class="container custom-content">
    <section class="section is-medium">
        <div class="column">
            <% if (locals.user) { %>
                <table class="table">
                    <thead>
                    <tr class="has-text-grey-dark">
                        <th>Vos Informations</th>
                        <th>Valeurs</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="has-text-grey-dark">
                        <th>Nom / Prénom</th>
                        <td><%= user.family_name %> <%= user.given_name %></td>
                    </tr>
                    <tr class="has-text-grey-dark">
                        <th>Date / Pays de naissance </th>
                        <td><%= user.birthdate %> - <% if (user.birthcountry === '99100') {%> France <% } %></td>
                    </tr>
                    <tr class="has-text-grey-dark">
                        <th>Sexe</th>
                        <td><%= user.gender %></td>
                    </tr>
                    </tbody>
                </table>
            <% } %>
    </section>
</section>
<% include ../includes/footer.ejs %>
</body>
</html>
