<% include includes/header.ejs %>
<div class="row-fluid">
    <% include includes/voirie-panel.ejs %>

    <!-- <% if (phone) { %> -->
    <div class="span6">
      <!-- <%= phone_number %> -->
      <%= email %>
    </div>
    <!-- <div class="span6">
      <% email %>
    </div>
 -->
<% include includes/footer %>
</div>
